@keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }

body {
  background-color: white;
  font-family: Arial, sans-serif;
  animation: fadeIn 1s ease-in-out;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 200px;
  height: 30px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 3px solid #ccc;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

input[type="number"]:focus {
  outline: none;
  border-color: #4CAF50;
  background-color: #e6e6e6;
  }
  
  input[type="number"]:hover {
  border-color: #4CAF50;
  background-color: #e6e6e6;
  }

button {
  width: 150px;
  height: 40px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px 10px;
}

button:hover {
  background-color: #3e8e41;
}

.active {
  align-items: center;
  width: 20%;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 10px;
  /* background-color: lightgray; */
  border-radius: 10px;
  text-align: center;
  margin: 20px auto;
  }

table {
  width: 60%;
  margin: 50px auto;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #888888;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #4CAF50;
  color: #fff;
  font-size: 18px;
}

td {
  font-size: 16px;
}


.meal-details {
  position: relative;
  display: none;
  margin: 10px auto;
  width: 60%;
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#meal-name {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

#meal-description {
  font-size: 18px;
  margin-bottom: 20px;
}

#meal-ingredients {
  list-style-type: square;
  font-size: 18px;
  margin-top: 20px;
}

.show {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #888888;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show h2 {
  text-align: center;
}

.show h3 {
  margin-top: 20px;
}

.show p {
  margin-top: 10px;
  text-align: justify;
}

#close-details-btn{
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-top: 20px;
}

#download-section {
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-top: 18px;
}

#calories-input-message {
  color: red;
}

#diet {
  display: none;
}

#diet-type{
  width: 20%;
  padding: 10px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 3px solid #ccc;
  text-align: center;
}

#diet-description {
  width: 35%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #888888;
  padding: 10px;
  margin-bottom: 5px;
}

#diet-info {
  position: relative;
  display: none;
  flex-direction: column;
  width: 30%;
  align-items: center;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 34%;
  font-weight: bold;
  box-shadow: 2px 2px 5px #454545;
}

.fa-regular.fa-circle-xmark{
  font-size: 40px;
  color: #4CAF50;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.fa-regular.fa-circle-xmark:hover{
  color:#454545;
  
}

#download-shopping-list-btn {
  position: absolute;
  transform: translate(100%, 100%);
}

button.snack{
  margin-left: 44%;
  
}

